<div id="intro" class="text-center">
    <h1>Make Stories <br> <b>Everyday</b></h1>
    <p>Welcome to my place where i write my life.<br>
        This is the sole purpose of my existence.To write and create beautiful memories of my life.Watch Me and read me.
    </p>
    <div id="infosection">
        <a href="?#!/stories" id="readme"><i class="fa fa-book" aria-hidden="true"></i> Read Me</a>
        <ul>
            <li><a><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
            <li><a><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
            <li><a><i class="fa fa-pinterest-square" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</div>