@import url('https://fonts.googleapis.com/css?family=Raleway');
body{
    background: #4ABDAC;
    color: #fff;
    font-family: Raleway, sans-serif;
}
.navbar-default{
    background: #FC4A1A;
    border: none;
}
.navbar-default .navbar-collapse{
    background: #FC4A1A;
}
.navbar{
    border-radius: 0px;
}
.navbar-default .navbar-nav>li>a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
/*To Center the nav links*/

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:link,
.navbar-default .navbar-nav>li>a:visited{
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover{
    background: #F7B733;
}
.navbar-default .navbar-nav>li>a{
    cursor: pointer;
}
#main{
    margin-top: 90px;
}
#intro h1{
    font-size: 70px;
    text-transform: uppercase;
}
#intro p{
    margin-top:20px;
    font-size: 18px;
}
#infosection{
    margin-top: 40px;
    padding-bottom: 20px;
} 

#readme{
    font-size: 18px;
    text-transform: uppercase;
    background: #F7B733;
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 25px; 
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
#readme a:hover,
#readme a:link,
#readme a:visited,
#readme a:active
{
    color: #fff;   
}
#infosection ul{
    display: inline;
    padding-left: 60px;
}
#infosection li{
    display: inline-block;
    background: #F7B733;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-left: 5px;
}
#infosection li a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 30px;
}
#infosection i{
    padding-top: 7px;
}

#blog-heading h1{
    display: inline;
    border-bottom: 1px solid white
}

#blogsection{
    margin-top: 15px;
}

#blog-wrapper{
    padding: 10px;
    background: #F7B733;
    border: 1px solid #fff;
    border-radius: 2px;
    color: #fff;
    margin-bottom: 15px;
    text-align: center;
}

#blog-wrapper p{
    font-size: 16px;
}
.mybtn{
    display: inline-block;
    padding: 5px;
    background: #4ABDAC;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 1px;
    border: 1px solid #fff;
    margin-right: 10px;
}

.mybtn:first-child {
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
}
.mybtn:first-child:hover{
    background: #FC4A1A;
}
.mybtn:first-child i{
    font-size: 15px;
}
#date{
    margin-top:31px;
    font-size: 18px;
    font-weight: bold;
}
.story{
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid white;
    padding: 15px;
    border-radius: 2px;
    letter-spacing: 0.01em;
}








